<div> 
    <div class="card car"></div>
  </div>
  <div> 
    <div class="card car"></div>
  </div>
  <div> 
    <div class="card car"></div>
  </div>
         
  <div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h2>Liste <b>des departements</b></h2>
            </div>
            <div class="col-sm-7">
            
<table class="table table-striped">


<thead> 
<tr>
   
 

</tr>
</thead>
<tbody>
<tr *ngFor="let dep of departements ">
    <td>{{dep.nom_dep}}</td>
   
  
   
</tr>

</tbody>


</table>
