<div> 
    <div class="card car"></div>
  </div>
  <div> 
    <div class="card car"></div>
  </div>
  <div> 
    <div class="card car"></div>
  </div>
  <h3><p>Fiche Employee</p> </h3>
<div class="card card-container" >



  <div class="col-md-6"  >
<label><b>nom  :  </b></label>{{employee.nom_empl}}
    </div>
    <div class="col-md-6">
        <label><b>prenom  : </b></label>{{employee.prenom_empl}}
            </div>
            <div class="col-md-6">
                <label><b>N°TELEPHONE  : </b></label>{{employee.telephone}}
                    </div>

                    <div class="col-md-6">
                        <label><b>departement : </b></label>
                       {{employee.departements.nom_dep}}
                            </div>
                           


                          
</div>